@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    list-style: none;
    outline: 0;
    font-family:'Roboto', sans-serif;
}

body{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(167.95deg, #F3E7E9 0%, #E3EEFF 99%, #E3EEFF 100%);
}

.notFind{
    font-size: 17px;
    font-style: italic;
    color: #585858;
    border-bottom: 1px solid #ccc;
}