@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*design do fundo animado*/

.box {
	position: fixed;
	bottom: 30vh;
	transform: rotate(80deg);
	left: 7vw;
}

.wave {
	position: fixed;
	top: 0;
	left: 0;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: linear-gradient(90deg, #b171fa 0%, #FA71CD 100%);
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 5s infinite linear;
}

.wave.-three {
  animation: drift 6.3s infinite linear;
	position: fixed;
	background-color: #77daff;
}

.wave.-two {
  animation: drift 6s infinite linear;
  opacity: .1;
  background: black;
	position: fixed;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

/*LOADING SPACE*/

.contain {
	animation-delay: 4s;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962FF);
  background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {-webkit-animation-delay: 0.2s;animation-delay: 0.2s}
.icon:nth-child(3) img {-webkit-animation-delay: 0.3s;animation-delay: 0.3s}
.icon:nth-child(4) img {-webkit-animation-delay: 0.4s;animation-delay: 0.4s}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0,0) rotateZ(180deg);
  transform: scale(0,0) rotateZ(180deg);
}

@-webkit-keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}

@keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}
/*Finalização da animação de fundo*/

.main{
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    gap: .65rem;
    position: relative;
    justify-content: center;

}


.logo{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    align-self: flex-start;
}

.logo__img{
    width: fit-content;
    height: 120px;
}

.main__login{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login__box{
    position: relative;
    display: flex;
    height: 30px;
    transition: all .3s ease-out;
}

.login__label{
    position: absolute;
    left: 0;
    bottom: 1px;
}

.login__label img{
    width: 30px;
    height: 30px;
}

.login__input{
    width: 100%;
    height: 100%;
    padding-left: 2.2rem;
    background: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.514);
    transition: all ease-out .5s;
    font-size: 1.05em;
}

.login__input:focus{
    border-bottom-color: black;
}


.checkbox{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: fit-content;
    gap: .3rem;
    margin-left: .4rem;
}

.login__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
}

#btnLogin{
    background: linear-gradient(90deg, #C471F5 0%, #FA71CD 100%);;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.25);
    width: 60%;
    padding: .5rem 0;
    border-radius: 50px;
    font-size: 1.1em;
    color: white;
    margin-bottom: .2rem;
}

.buttons__descricao{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.801);
}

.buttons__link{
    text-decoration: underline;
}

.buttons__link{
    margin-bottom: .4rem;
    color: #203cee;
}

/*Estilização da mensagem para a pagina de login*/

.mensagem{
    position: absolute;
    bottom: -20px;
}

/*Mensagem da SESSION*/
.erro{
  color: red;
  font-weight: 700;
  font-size: 1.07em;
  text-align: center;
  width: 100%;
}

.main__aside{
  display: none;
  width: max-content;
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width:1220px){
  body{
    justify-content: center;
  }
    .main{
        width: 100vw;
        height: 100vh;
        justify-content:unset;
        align-items: center;
        flex-direction: row;
    }

    .main__aside{
      display: block;
    }

    .logo{
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: max-content;
    }

    .main__login{
      height: 100%;
      align-items: center;
      justify-content: center;
    }
}